{
  "Bridge": {
    "AccessId": "your-tuya-access-id",
    "AccessSecret": "your-tuya-access-secret",
    "DataCenter": "centralEurope",
    "GoveeApiKey": "your-govee-api-key",
    "Buttons": [
      {
        "DeviceId": "first-button-device-id",
        "ClickActions": {
          "single_click": "toggle",
          "double_click": "toggleBrightness",
          "long_press": "toggleBrightness"
        },
        "Targets": [
          { "GoveeSku": "H61xx", "GoveeDevice": "AA:BB:CC:DD:EE:FF:00:11" },
          { "GoveeSku": "H61xx", "GoveeDevice": "AA:BB:CC:DD:EE:FF:00:22" }
        ],
        "TuyaLightTargets": [
          { "DeviceId": "some-tuya-light-device-id", "PowerCode": "switch_led", "BrightnessCode": "bright_value", "BrightnessLow": 10, "BrightnessHigh": 1000 }
        ]
      },
      {
        "DeviceId": "second-button-device-id",
        "ClickActions": {
          "single_click": "toggle"
        },
        "Targets": [
          { "GoveeSku": "H61xx", "GoveeDevice": "AA:BB:CC:DD:EE:FF:00:11" }
        ]
      }
    ]
  }
}
